* {
  font-family: "Poppins", sans-serif;
}

html,
body {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}

/* navbar */

#navbarSupportedContent {
  font-weight: 500;
}
.active-page {
  font-weight: 700 !important;
}
.nav-link {
  font-size: 17px !important;
}

/* navbar end */

/* ----- profile card home -----*/

div.base-container {
  background-color: #ebf0f1;
  height: 93vh;
}
div.base-card {
  width: 80%;
  height: 78%;
}
.p-bio {
  font-size: 17px;
}
.dev {
  color: #62bbc1;
}
div.left-side {
  width: 55%;
}
.right-side {
  width: 38%;
}

/* image css */
div.image-container img {
  height: 325px;
  object-fit: cover;
}

/* cv css start */

.cv-anchor:hover {
  color: rgb(48, 48, 48);
}

a.cv-anchor img {
  height: 20px;
}

/* cv css end */

.social-icons {
  width: 33px;
}
.social-icons:hover {
  transform: scale(1.03);
}

/* ----- profile card home end ----- */

/* ----- Project Cards -----*/

.base-page-container-2 {
  /* background-color: bisque; */
  height: 100vh;
}

.project-showcase {
  /* background-color: #62bbc1; */
  padding-left: 10vw;
}
.project-card-duration p {
  margin-top: 0px;
  font-size: small;
  color: gray;
}
.project-card-tech img {
  width: 40px;
}
.card-img-top.rounded-top {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

/* ----- project Cards End ----- */

/* ----- project-detail page start ----- */

.project-detail-body {
  background-color: #ebf0f1;
}
.project-detail-container {
  margin: 20px 10%;
}

.project-detail-info {
  width: 35%;
}
.info-duration-date img {
  width: 30px;
  height: 30px;
}
.info-duration img {
  width: 30px;
  height: 30px;
}

/* project detail tech section start */

.tech-info-icons img {
  width: 50px;
}
.tech-info-icons label {
  margin-right: auto;
  font-weight: 600;
  margin-left: 10px;
}
/* project detail tech end */

/* project detail description start */

.project-detail-description {
  margin: 50px 10%;
}
.detail-description-text {
  text-align: justify;
}
/* project-detail end */

/* ----- project-detail page start ----- */

/* ----- Project form start ----- */

.base-page-container {
  background-color: rgb(235, 240, 241);
  height: 93vh;
}
.align-center {
  /* background-color: aqua; */
}
.project-input {
  background-color: rgb(255, 255, 255);
}
.project-textarea {
  resize: none;
}

/* contact form start ----- */

.textarea-contact-form {
  resize: none;
}

.input-contact-form {
  background-color: rgb(255, 255, 255);
}
